@charset "UTF-8";

body {
    background-color: rgb(181, 240, 181);
}

h1{
    color: rgb(3, 122, 3);
}

#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(2, 13, 2);
}

.basico{
    color: rgb(5, 180, 5);
}

.intermediario {
    color: rgb(160, 180, 5);
}

.avançado {
    color: rgb(180, 23, 5);
}

.destaque {
    background-color: yellow;
}